@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

body {
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
      background: linear-gradient(135deg, #1b013a, #032d5b);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 2rem;
      display: flex;
  flex-direction: column;
    
    }



h1{
   background: linear-gradient(90deg, #A020F0, #1e90ff);
  background-clip: text;               /* Standard */
  -webkit-background-clip: text;       /* For Chrome/Safari */
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 100px;
  text-align: center;
  text-shadow: 0 0 10px #a020f0aa;
}

h2{
  font-size: 25px;
  color:lightskyblue;
}
h2:hover{
  transform: scale(1.05);
  text-shadow: 0 0 5px #a020f0aa;
  transition: transform 0.2s ease, text-shadow 0.2s ease;
}

.animated-button {
  height: 150px;
  width: 150px;
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  border: none;
  font-size: 20px;
  background-color: inherit;
  border-radius: 20px;
  font-weight: 600;
  color: #ffffffb4;
  box-shadow: 0 0 0 2px #ffffffb6;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.1); /* translucent background */
  backdrop-filter: blur(10px);          /* blur behind */
  -webkit-backdrop-filter: blur(10px);  /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.2); /* light border */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* soft shadow */
}

.animated-button span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: #2196F3;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:first-child {
  position: relative;
  z-index: 1;
}

.animated-button:hover {
  box-shadow: 0 0 0 5px #2195f360;
  color: #ffffff;
}

.animated-button:active {
  scale: 0.95;
}

.animated-button:hover span:last-child {
  width: 150px;
  height: 150px;
  opacity: 1;
}

h3{
  display:inline-block;
  margin: 20px;
  text-align: left;
  font-size: 20px;
  color: gray;
}
.Current{
  display:inline-block;
  margin: 20px;
  text-align: left;
  font-size: 20px;
  color: white;
}

.container{
  width: 1000px;
  border-radius: 10px;
  border: 2px solid purple;
  background-color: #a020f04c;
}
.user_playlist_container{
  width: 300px;
  height: 600px;
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
  border: 2px solid lightseagreen;
  background-color: #a020f04c;
  margin-top: 10px;

}